/* Default Settings*/

* {
    margin: 0;
    padding: 0;
}

p, a, h1, h2, h3 {
    font-family: "Comic Sans MS", sans-serif;
}

body {
    background: #85924A;
}

main {
    width: auto
}

/* Navigator Component*/

nav {
    width: 100%;
    background: #407338;
    height: 100px
}

.navbar-content {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.navbar-content .nav-links {
    list-style-type: none;
    width: 16%;
    display: flex;
    justify-content: center;
    position: center;
}

.navbar-content .logo {
    display: flex;
    justify-content: center;
    width: 36%;
    font-size: 12%;
}

.navbar-content a {
    text-decoration: none;
    color: white;
    margin-top: 40px;
}

#actual-Page {
    background: #85924A;
}

.logo h1 img {
    width: 45px;
    margin-right: 5px;
}

.titleRiedbach {
    padding: 5px;
    font-size: 2.3rem;
    font-family: "Comic Sans MS", sans-serif;
    margin: 10px auto auto;

}

.titleRiedbach p {
    font-size: 12px;
}

/*Footer Compoment */

footer {
    background: #407338;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

footer p {
    margin-top: 12px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

/* Index.html Settings (landing-page)*/

#landing-wallpaper {
    background-image: url("../assets/Landing-Wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-content {
    display: flex;
    justify-content: center;
    padding: 15%
}

.landing-content-box {
    width: 70%;
    background: rgba(15, 15, 15, 75%);
    color: white;
    padding: 10px;
}

.landing-content-box h2 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#landing_footer {
    position: absolute;
    bottom: 0;
}



.sightseeing-contents {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%
}

.sightseeing-contents section {
    width: 350px;
    height: 30%;
    background: #407338;
    margin: 10px auto;
}